.component-button-panel {
  background: var(--panel-bg);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1 0 auto;
  border-top: 1px solid var(--border-color);
}

@media (max-width: 480px) {
  .component-button-panel {
    min-height: auto;
  }
}